body {
  background: #ccc; }

header {
  background: pink;
  height: 300px;
  width: 100%; }

.container {
  background: white; }

.nav {
  height: 43px;
  margin-top: 10px;
  width: 100%; }

.container li {
  border-left: 1px solid;
  border-top: 1px solid;
  text-align: center;
  width: 85px; }
  .container li .tsuika {
    padding: 10px;
    border: dashed 1px; }

.day {
  display: none; }

.schedule {
  margin: 0 0 0 132px;
  padding: 3px;
  border-left: 1px solid #765946;
  border-top: 1px dashed #765946;
  position: relative;
  width: 80%; }

.schedule {
  height: 70px; }
  .schedule a {
    width: 234px;
    height: 58px;
    margin: 0 auto;
    display: block;
    line-height: 58px;
    font-size: 1.13em;
    text-align: center;
    text-decoration: none;
    color: #aaa; }

h4 {
  position: absolute;
  right: 100%;
  margin: 0 46px 0 0;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 1px;
  color: #666; }

button {
  margin-left: 60%;
  width: 400px; }
